@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
    background: rgb(196, 215, 238);
    box-shadow: 0 0 2px #131313;
}

.main-nav ul {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 2fr 1fr;
    list-style: none;
    padding: 2%;
    font-weight: bold;
    align-items: center;
}

.main-nav ul li {
    cursor: pointer;
}

.search-container {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 3%;
    position: relative;
}

#search-field {
    border-color: rgb(172, 172, 172);
    width: 100%;
}

.search-boxes {
    display: grid;
    grid-template-columns: repeat(autofill, minmax(150px, 1fr));
    width: 100%;
    margin-top: 1.3rem;
    position: absolute;
}

.box {
    border: 1px solid rgb(192, 192, 192);
    background-color: white;
    padding: .5rem;
    font-size: .8rem;
}

.box:hover {
    font-weight: bold;
    background-color: rgb(255, 250, 241);
    cursor: default;
}

.hide {
    display: none;
}

body {
    background-color: burlywood;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    max-width: 50%;
    margin: auto;
    overflow: hidden;
    background-color: white;
    flex-direction: column;
    border: solid 2px;
    box-shadow: 0 0 5px rgb(32, 32, 32);
    margin-bottom: 5%;
}

.meals {
    margin: 2%;
}

.meals img {
    width:  100%;
    height: auto;
    object-fit: contain;
}

.selected-lang {
    cursor: pointer;
    display: flex;
    width: auto;
    height: 3em;
}

.selected-lang:before {
    display: block;
}

#lang-menu {
    margin: 2%;
    margin-right: 5%;
    position: relative; /* Keeps language options box inside container */
    z-index: 1;
}

#lang-menu:hover ul { /*Allows language menu to be visible */
    display: block;
}

#lang-menu ul { /* language menu box toggle */
    padding: 3%;
    margin-top: 1%;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
}

#lang-menu ul li { /* getting rid of bullet point list */
    display: flex;
    justify-content: center;
}

#lang-menu ul li img:hover {
box-shadow: 0 0 3px #131313;
}

#lang-menu ul li img {
    cursor: pointer;
    width: 60%;
    height: auto;
    margin-bottom: 5%;
    padding: 1%;
}

#main-text {
    margin: 1rem;
}

.newsletter {
    max-width: 80%;
    background: rgb(196, 215, 238);
    text-align: center;
    border-radius: 7px;
    padding: 5%;
    margin: 0 auto;
    margin-bottom: 5%;
    border: solid 2px rgb(119, 119, 119);
    box-shadow: 0 0 25px lightgoldenrodyellow;
}   

#email {
width: 35%;
height: 30px;
border: 0;
border-radius: 2px;
margin-bottom: 2%;
}

.newsletter button {
height: 30px;
border-radius: 2px;
border: 0;
cursor: pointer;
background-color: rgb(102, 102, 102);
color: white;
padding: 0 2%;
transition: 0.5s;
}

.newsletter button:hover {
    background-color: rgb(0, 0, 0);
}